<h1>Listing loops</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Data</th>
    <th>Public</th>
    <th>User</th>
  </tr>

<% @loops.each do |loop| %>
  <tr>
    <td><%=h loop.name %></td>
    <td><%=h loop.data %></td>
    <td><%=h loop.public %></td>
    <td><%=h loop.user_id %></td>
    <td><%= link_to 'Show', loop %></td>
  </tr>
<% end %>
</table>

<br />
